.main {
  width: 100%;
  padding: 80px 0;
  background: #effbff;
}
.track {
  width: 85%;
  margin: 0 auto;
}
.trackContent {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}
.trackContent h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #034d82;
}
.trackContent p {
  letter-spacing: 0.3px;
  color: #8ea9c1;
  margin-top: 24px;
}
.cards {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 4fr));
  grid-gap: 20px;
  justify-items: center;
}
