.main {
  width: 85%;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
}
.growth h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0.3px;
  color: #034d82;
}
.growth p {
  letter-spacing: 0.3px;
  color: #90a3b4;
}
.growth,
.carousel {
  width: 50%;
}
.mySwiper {
  height: 250px;
}
