.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 200px 0 270px;
  position: relative;
}
.blue,
.yellow {
  position: absolute;
  bottom: 40px;
}
.blue {
  left: 0;
}
.yellow {
  right: 0;
}
