.main {
  width: 85%;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 4fr));
  grid-gap: 30px;
}
.card {
  height: 220px;
  display: flex;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card h3 {
  color: #034d82;
}
.card a {
  text-decoration: none;
  text-align: center;
}
.card .email {
  color: #000;
  margin: 10px auto;
  width: 90%;
  word-wrap: break-word;
}
.card .view {
  padding: 5px 10px;
  background-color: #4a99d3;
  color: #fff;
  border-radius: 3px;
}
.loader {
  width: 100%;
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
.loader >img{
  width: 20%;
}
