.main {
  background-color: #00a8db;
  width: 100%;
  padding: 35px 0 10px;
}
.back {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(120, 180, 220, 0.499124649859944) 100%
  );
}

.main header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main nav a {
  text-decoration: none;
  color: #ffffff;
}
.main nav .active{
  color: #005490;
}
.links {
  color: black !important;
}
.links img {
  filter: invert(1);
}
.main nav a:not(:last-child) {
  margin-right: 40px;
}
.main nav a:last-child {
  padding: 10px 30px;
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  border-radius: 4px;
}
